*{
    box-sizing: border-box;
    overflow: auto;
}
.wrap{
    width: 100%;
    max-width: 1200px;
}
.gallery{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}

.gallery img:nth-child(1){
    flex-shrink: 2;
    height: 250px;
    flex-grow: 0;
    flex-basis: 25%;
    padding: 0.3%;
}
.gallery img:nth-child(2){
    flex-shrink: 2;
    height: 250px;
    flex-grow: 0;
    flex-basis: 25%;
    padding: 0.3%;
}
.gallery img:nth-child(3){
    flex-shrink: 2;
    height: 250px;
    flex-grow: 0;
    flex-basis: 25%;
    padding: 0.3%;
}
.gallery img:nth-child(4){
    flex-shrink: 2;
    height: 250px;
    flex-grow: 0;
    flex-basis: 25%;
    padding: 0.3%;
}
.gallery img:nth-child(5){
    flex-grow: 0;
    flex-basis: 100%;
    padding: 0.3%;
}
@media screen (min-width: 850px) {

    .gallery {
        display: inline;
     width: 100%;
     max-width: 900px;
     }
    .gallery img{
        flex-grow: 1;
        flex-basis: 100%;
        padding: 0.3%;
    }
}
